* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Merriweather, Georgia, serif;
    font-size: 1.2em;
    color: #333;
    background: #fff;
}

header {
    margin: 0 auto;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: #004c8b;
    text-align: center;
}

form {
    width: 500px;
    margin: 0 auto;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid black;;
}

legend {
    margin: 0 auto;
    padding: 0.5rem;
    font-size: 1.4rem;
}

label, input, button, select, textarea {
  font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: right;
    padding-right: 0.5rem;
}

input, select, textarea {
    padding: 1rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: #004c8b;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: #1a6fbf;
}

footer {
  margin: 1rem auto 0;
  width: 650px;
  text-align: center;
  font-size: 0.8em;
  color: #777;
  border-top: 1px solid #ccc;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem;
}