:root {
  --theme-color-primary: #004c8b;
  --border-solid: 1px solid rgb(0 0 0 / 0.2);
}

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 } 

 body {
  font-family: Roboto;
 }

nav {
  background-color: var(--theme-color-primary);
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 0.5rem;
}

h1 {
  color: var(--theme-color-primary);
  padding: 1rem;
}

main img {
  float: right;
  width: 150px;
  height: auto;
  border: var(--border-solid);
  padding: 1px;
  margin: 1rem;
  box-shadow: 0 0 30px gray;
}

p {
  padding: 1rem;
}

main audio {
  padding: 1rem;
}

main {
  max-width: 840px;
}

aside {
  width: 20rem;
  text-align: center;
  position: relative;
}

aside img {
  width: 200px;
  height: auto;
}

aside h2 {
  font-size: x-large;
  position: absolute;
  left: 80px;
}

footer {  
  margin-top: 1%;
  border-top: 1px dotted black;
  text-align: center;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: var(--border-solid);
  padding: 1rem;
  background-color: #eee;
  color: #000;
}

.indent {
  padding-left: 2rem;
}